@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}


body{
    text-align: center;

}

span{
    padding: 8px 12px;
   
}

button{
    padding: 10px 20px;
}
.btnbox{
    margin-top: 10px;
}

 @media (width <= 40rem ) {
    .herobox{
        margin: 20px;
        text-align: center;
    }
    }